.cardVisualizar{
    background-color: var( --cor-200);
    color: var(--cor-padrao);
    border-bottom: 5px solid var(--cor-accent);
}

.mat-header-cell{
    text-align: start;
}
.mat-cell{
    text-align: start;
}
.mat-table{
    width: 100%;
}

@media screen and (max-width: 700px) {
    .cardVisualizar{
        margin-bottom: 30px;
    }
  }